body {
  background-image: url("https://povitrya-weather.netlify.app/src/img/background.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #aecec3;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #618b7d;
  font-weight: 600;
  text-decoration: none;
}

.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 5px 20px 30px rgba(62, 190, 158, 0.1);
}
.search-form-input {
  background-color: #f7f7f7;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  width: 80%;
  font-size: 15px;
}
.search-form-button {
  margin: 5px;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 13px;
  background-color: #ff896e;
  color: white;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.weather-app-details strong {
  color: #ff896e;
  font-weight: 600;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 15px;
}

.weather-app-temperature {
  margin-left: 10px;
  font-size: 80px;
  font-weight: 500;
}
.weather-app-unit {
  font-size: 25px;
  margin-top: 16px;
  font-weight: 500;
}
footer {
  padding: 30px 0 0;
  border-top: 1px solid #f7f7f7;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 12px;
}
